.header {
    background-image: url("../../assets/images/bg2.jpg");
    /* background-position: center; */
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    max-width: 100%;
    padding-block: 0.5rem;
    color: white;
}

.logo {
    font-size: 3rem;
}

.header ul {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-between;
    color: #fff;
    margin-block: 0px;
    padding-block: 0.5rem;
    padding-inline: 1rem;
    gap: 1rem;

    list-style: none;
}

.contenue {
    margin: 1rem;
    /* text-align: center; */
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    margin-top: 5rem;
}

.menu1 li a {
    padding: .5rem;
}

.menu1 li a:hover {
    background-color: #ffffff;
    color: #010028;
}

.header h1 {
    margin-bottom: 3rem;
    font-weight: bold;
    font-size: 3rem;
}

.header h2,
.header h2 p {
    font-weight: lighter;
    font-size: 1rem;
}

.texte1 {
    width: 30rem;
    margin: 1rem;
}

.texte2 {
    width: 60%;
    font-size: 1rem;
}

.header .menu1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    font-size: 1rem;
    font-weight: bold;
}

.logo a {
    text-decoration: none;
    color: #8f14c0;
}

.button {
    margin: 3rem;
    font-size: 1.1rem;
}

.button a {
    background-color: #fff;
    color: #010028;
    border: 0.2rem solid white;
    padding: 0.5rem 1.5rem;
    border-radius: 2.2rem;
    transition: all 2s;
    /* border-radius: 25px; */
    text-decoration: none;
}


.button a:hover{
    background-color: #010028;
    color: #fff;
    box-shadow: 0 4px 8px 0 #000000, 0 6px 20px 0 #000000
}

