<header class="header" [@fadeInAnimation]>
    <nav>
        <ul>
            <li class="logo"><a href="../header/header.component.html">Create It</a></li>
            <div class="menu1">
                <li><a href="">Acceuil</a></li>
                <li><a href="">A propos</a></li>
                <li><a href=""></a></li>
            </div>
        </ul>
    </nav>
    
    <div class="contenue">
        <h1><em>Genere ton site Vitrine en un click</em></h1>
        <p class="texte1">Besoins d'être connu du grand public ?</p>
        <p class="texte2">Vous êtes une entreprise petite ou grande, un particulier, etc... nous vous proposons une solution numérique adapter à votre besoins et à vos exigences pour vous faire connaître un site de votre choix, c'est vous le boss ! </p>
        <div class="button">
            <a href="">Get Started</a>
        </div>
    </div>
</header>
