<!-- carousel.component.html -->
<div class="row mt-3 mb-3 px-2">

      <!-- Carousel -->
      <div id="demo" class="carousel slide col-sm-4" data-bs-ride="carousel">
            <!-- Indicators/dots -->
            <div class="carousel-indicators">
                  <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
                  <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
                  <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
            </div>

            <!-- The slideshow/carousel -->
            <div class="carousel-inner rounded">
                  <div class="carousel-item active" *ngFor="let image of carousel.images">
                        <img [src]="image.imageUrl" alt="Image {{ image.id }}" class="d-block w-100 rounded" width="500" >
                  </div>
            </div>
            <!-- Left and right controls/icons -->
            <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                  <span class="carousel-control-next-icon"></span>
            </button>
      </div>
      <div id="demos" class="carousel slide col-sm-4" data-bs-ride="carousel">
            <!-- Indicators/dots -->
            <div class="carousel-indicators">
                  <button type="button" data-bs-target="#demos" data-bs-slide-to="0" class="active"></button>
                  <button type="button" data-bs-target="#demos" data-bs-slide-to="1"></button>
                  <button type="button" data-bs-target="#demos" data-bs-slide-to="2"></button>
            </div>

            <!-- The slideshow/carousel -->
            <div class="carousel-inner rounded">
                  <div class="carousel-item active" *ngFor="let image of carousel.images">
                        <img [src]="image.imageUrl" alt="Image {{ image.id }}" class="d-block w-100 rounded" width="500" >
                  </div>
            </div>
            <!-- Left and right controls/icons -->
            <button class="carousel-control-prev" type="button" data-bs-target="#demos" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#demos" data-bs-slide="next">
                  <span class="carousel-control-next-icon"></span>
            </button>
      </div>
      <div id="dem" class="carousel slide col-sm-4" data-bs-ride="carousel">
            <!-- Indicators/dots -->
            <div class="carousel-indicators">
                  <button type="button" data-bs-target="#dem" data-bs-slide-to="0" class="active"></button>
                  <button type="button" data-bs-target="#dem" data-bs-slide-to="1"></button>
                  <button type="button" data-bs-target="#dem" data-bs-slide-to="2"></button>
            </div>

            <!-- The slideshow/carousel -->
            <div class="carousel-inner rounded">
                  <div class="carousel-item active" *ngFor="let image of carousel.images">
                        <img [src]="image.imageUrl" alt="Image {{ image.id }}" class="d-block w-100 rounded" width="500" >
                  </div>
            </div>
            <!-- Left and right controls/icons -->
            <button class="carousel-control-prev" type="button" data-bs-target="#dem" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#dem" data-bs-slide="next">
                  <span class="carousel-control-next-icon"></span>
            </button>
      </div>
      <div style="background-color: red;">
            <p> bonjour <i class="fa-solid fa-ellipsies fa-bounce"></i>

                  <!-- <i class="fa-solid fa-ellipsie fa-bounce" style="border: 2px solid red;"></i>

                  <i class="fa-solid fa-ellipsie fa-bounce" style="border: 2px solid red;"></i> -->
            </p>
      </div>
     
</div>