<div class="wraper">
    <!-- <div class="globe"><img src="../../assets/globe.webp" alt=""></div> -->
    <div class="title">
        <h1>Chatbot</h1>
    </div>
    <div class="dialogue">
        <p class="bulb bulb-head mt-3 b-shadow">Bonjour et bienvenue, sur notre site</p>
        <p class="bulb bulb-foot b-shadow">Pour commencer la création de votre site web, veuillez nous dire de quel type de site avez vous besoin</p>
    </div>
    <div class="categorie">
        <ul>
            <li class="btn btn" role="button" *ngFor="let cat of categorie"><a *ngIf="cat.state" (click)="onSelect(cat)">{{cat.name}}</a></li>
        </ul>
    </div>
    <p *ngIf="selectedCategorie" class="bulb bulb-head b-shadow">Vous avez choisi la catégorie : {{ selectedCategorie.name }}, si ce n'est pas celui que vous vouliez vous pouvez la modifiez en recliquant sur la selection</p>
    <div *ngIf="categorieThemes" cla>
        <p class="bulb bulb-foot b-shadow">Maintenant que vous avez choisi votre catégorie veuillez choisir le theme que vous voulez :</p>
        <div class="theme">
            <ul class="">
                <li class="bd-round b-shadow" role="button" *ngFor="let them of categorieThemes.themes" ><a *ngIf="them.state">{{them.name}}</a></li>
            </ul>
        </div>
    </div>
</div>
