<!-- <p>formulaire works!</p> -->
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <form action="./formulaire.php" method="post" enctype="multipart/form-data">

        <fieldset >

            

            <div class="flex">
                <label for="lname">Nom</label><!--
                --><input id="lname" type="text">
            </div>
            
            <div class="flex"><label for="fname">Prénom</label><!--
          --><input id="fname" type="text"></div>
            

            <div class="flex"><label for="email">Email</label><!--
            --><input id="email" type="text">
            </div> <br>
 

            
            <div class="btn"><button type="submit">Valider et Récuperer</button></div>
            

        </fieldset>
    </form>

</body>

</html>