<div class="col-sm-12 b-shadow" #formulaire id="formulaire">
      <h2 [@fadeInAnimation]>Finalisez et Recuperez votre site </h2>
      <p [@fadeInAnimation]>Votre site n'attend que vous ! </p>
      <form (ngSubmit)="onSubmit()" #userInfoForm="ngForm">
            <div class="form-floating mb-3 mt-3 mx-3">
                  <input class="form-control form-control-lg" type="text" name="lastName" id="lastName" #lastName="ngModel" required [(ngModel)]="userModel.lastName">
                  <label for="nom">Nom</label>
                  <div [hidden]="lastName.valid || lastName.pristine" class="alert alert-danger">
                        Votre Nom est réquise
                  </div>
            </div>
            <div class="form-floating mt-3 mb-3 mx-3">
                  <input class="form-control form-control-lg" type="text" name="firstName" id="firstName" #firstName="ngModel" required [(ngModel)]="userModel.firstName">
                  <label for="prenom">Prénom</label>
                  <div [hidden]="firstName.valid || firstName.pristine" class="alert alert-danger">
                        Votre Prénom est réquise
                  </div>
            </div>
            <div class="form-floating mt-3 mb-3 mx-3">
                  <input class="form-control form-control-lg" type="mail" name="mail" id="mail" #mail="ngModel" required [(ngModel)]="userModel.mail">
                  <label for="email">Email</label>
                  <!-- <div [hidden]="mail.valid || mail.pristine" class="alert alert-danger">
                        Votre Email est réquise
                  </div> -->
            </div>

            <button type="submit" [disabled]="!userInfoForm.form.valid" (click)="newUser(); userInfoForm.reset()" class="btn fw-bold send">Envoyer</button>
      </form>
</div>
